@{
    ViewBag.Title = "Tweens2Teens";
}

<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>WELCOME!</h1>
                    <h3>Tweens2Teens-Connecting Todays Youth With Young Adults</h3>
                    <hr class="intro-divider" />
                    <ul class="list-inline intro-social-buttons">
                        <li>

                        <li id="log" role="presentation">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "BTNCLASS2" })</li>
                        <li></li>
                        <li>
                            
@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "BTNCLASS2" })
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->
<!-- Page Content -->
<div></div>
<a name="services"></a>
<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer" />
                <div class="clearfix"></div>
                <h2 class="section-heading">What is Tweens2Teens?</h2>
                <p class="lead">
                    Tweens2Teens is a new website designed to bring "Tweens"(6th graders) and "Teens"(Young Adults in 12th grade-Freshman In College) together in an effort
                    to help any child who feels they are alone or needs a mentor. They are able to communicate via messages within this site. Each message is stored
                    on this website, and is monitored for any inappropriate activity. Each "Teen" is carefully selected and goes through a strict application process, so we can maintain safety for
                    each individual "Tween".
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img id="borderimg" class="img-responsive" src="~/Pics/cyberscooty-computerboy.png" />
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer" />
                <div class="clearfix"></div>
                <h2 class="section-heading">Why do I need my parents email?</h2>
                <p class="lead">Because Tweens2Teens is for 6th graders or "Tweens", who will be communicating with young adults or "Teens", your parents MUST confirm your use of this site!</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="~/Pics/Computer-Guy.png" @*width="800" height="464"*@ />
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer" />
                <div class="clearfix"></div>
                <h2 class="section-heading">Should I give out my real name and email?</h2>
                <p class="lead"> No! You should never give anybody your personal information. This means your real name, address, email, location or age. Tweens2Teens will NEVER ask for personal information!</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="~/Pics/ProhibitionSign2.png" />
                
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<a name="contact"></a>
<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h2>Connect With Tweens2Teens:</h2>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://www.facebook.com/OfficialJasmineGheith" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/JasmineCodesIT" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->
