@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="application">
    <div class="col-lg-4">
        <div id="another"></div>
        <div id="word"></div>
        <input type="text" placeholder="random username" /><br />
        Pick An Icon<br />
        <input type="radio" name="blankRadio" id="blankRadio5" value="option1" aria-label="..." />
        <img src="~/Pics/baseball_128x128.png" /><br />
        <input type="radio" name="blankRadio" id="blankRadio6" value="option1" aria-label="..." />
        <img src="~/Pics/tyrannosaurus_rex.png" /><br />
        <input type="radio" name="blankRadio" id="blankRadio7" value="option1" aria-label="..." />
        <img src="~/Pics/subaru.png" /><br />
    </div>
    <div class="col-lg-4">
        Enter A Password<br />
        <input type="password" placeholder="Password" /><br />
        Name 3 Likes(Use Commas)<br />
        <input type="text" id="textboxans" placeholder="sports,dogs,food" /><br />
        Name 3 Dislikes(Use Commas)<br />
        <input type="text" placeholder="snow,bees,math" /><br />
        What Grade Are You In?:<br />
        <input type="text" placeholder="12th grade" /><br />
        What Is Your Email?:<br />
        <input type="email" placeholder="yourEmail@gmail.com" /><br />
        <br />
        <button type="submit">Submit!</button>
    </div>
    <div class="col-lg-4">
        <h1>REMEMBER: Never ask for or give out your personal information!</h1>
        <script src="JavaScript.js"></script>
    </div>
</div>